{% extends "base.html" %} 

{% block main %} 
<h1>Contact Form</h1>
<p>Fill in this form to contact site owners</p>
    <form method = "POST" action = "{{url_for('contact')}}">
        {{form.csrf_token}}
        {{form.name.label}}
        <br>
        <p>Please enter your Full Name</p>
        {{form.name(size = 20)}}
        <br><br>
        {{form.email.label}}
        <br>
        <p>Please enter your Email</p>
        {{form.email()}}
        <br><br>
        {{form.subject.label}}
        <br>
        <p>Please enter the subject for your message</p>
        {{form.subject()}}
        <br><br>
        {{form.message.label}}
        <br>
        <p>Please enter your message</p>
        {{form.message()}}
        <br><br>

        <button class="button glow-button" type = "submit"> Send </button>
    </form>
{% endblock %} 


